@import '../../variables.scss';

.ListFood {
    background-color: #fff;
    padding: 24px 30px;

    &__Header {

        &__Btn {

            &>a {
                color: $default-hover-color;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                border: none;
                outline: none;
                background: none;
                z-index: 1;
                position: static;
            }

            :hover {
                color: $default-color;
            }

        }
    }

    &__Content {}
}